
<h1>'What's your name?</h1>

<form>
<div font-style: oblique>
  <label for ="name">Name:</label>
  <input type="text" name="name">
</div>
</form>
<p>

<h2>'When's your birthday?</h2>
<form>
  <div>
    <label for="day"> Day:</label>
    <input type="text" day="day">
  </div>
</form>

<form>
 <select name = "Month">
   <option value="January">January</option>
   <option value="Febuary">Febuary</option>
   <option value="March">March</option>
   <option value="April">April</option>
   <option value="May">May</option>
   <option value="June">June</option>
   <option value="July">July</option>
   <option value="August">August</option>
   <option value="September">September</option>
   <option value="October">October</option>
   <option value="November">November</option>
   <option value="December">December</option>
 </select>
</form>


<div>
<input type="submit" value="Shazam">
</div>
